@import "public";

// 补丁 base
@import "~@/assets/style/fixed/base.scss";
// 补丁 element
@import "~@/assets/style/fixed/element.scss";
// 补丁 markdown
@import "~@/assets/style/fixed/markdown.scss";
// 补丁 n-progress
@import "~@/assets/style/fixed/n-progress.scss";
// 补丁 vue-splitpane
@import "~@/assets/style/fixed/vue-splitpane.scss";
// 补丁 vue-grid-layout
@import "~@/assets/style/fixed/vue-grid-layout.scss";
// 补丁 tree-view
@import "~@/assets/style/fixed/tree-view.scss";

// 动画
@import "~@/assets/style/animate/vue-transition.scss";

// custom public style
@import "~@/assets/style/data-list.scss";

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写

// 浮动相关
.#{$prefix}-fl {
	float: left;
}
.#{$prefix}-fr {
	float: right;
}

// 边距相关
$sizes: (0, 4, 5, 8, 10, 15, 16, 20, 24, 30, 32, 40, 48);

@for $index from 1 to 12 {
	.#{$prefix}-m-#{nth($sizes, $index)} {
		margin: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-mt-#{nth($sizes, $index)} {
		margin-top: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-mr-#{nth($sizes, $index)} {
		margin-right: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-mb-#{nth($sizes, $index)} {
		margin-bottom: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-ml-#{nth($sizes, $index)} {
		margin-left: #{nth($sizes, $index)}px !important;
	}

	.#{$prefix}-p-#{nth($sizes, $index)} {
		padding: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-pt-#{nth($sizes, $index)} {
		padding-top: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-pr-#{nth($sizes, $index)} {
		padding-right: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-pb-#{nth($sizes, $index)} {
		padding-bottom: #{nth($sizes, $index)}px !important;
	}
	.#{$prefix}-pl-#{nth($sizes, $index)} {
		padding-left: #{nth($sizes, $index)}px !important;
	}
}

// 快速使用

.#{$prefix}-m {
	margin: 20px !important;
}
.#{$prefix}-mt {
	margin-top: 20px !important;
}
.#{$prefix}-mr {
	margin-right: 20px !important;
}
.#{$prefix}-mb {
	margin-bottom: 20px !important;
}
.#{$prefix}-ml {
	margin-left: 20px !important;
}

.#{$prefix}-p {
	padding: 20px !important;
}
.#{$prefix}-pt {
	padding-top: 20px !important;
}
.#{$prefix}-pr {
	padding-right: 20px !important;
}
.#{$prefix}-pb {
	padding-bottom: 20px !important;
}
.#{$prefix}-pl {
	padding-left: 20px !important;
}

// Color
.color-text-placeholder {
	color: $color-text-placeholder !important;
}
.color-text-sub {
	color: $color-text-sub !important;
}
.color-text-normal {
	color: $color-text-normal !important;
}
.color-text-main {
	color: $color-text-main !important;
}

// text
.#{$prefix}-text-center {
	text-align: center;
}
.#{$prefix}-text-end {
	text-align: end;
}
p.break-spaces {
	white-space: break-spaces;
}
p.pre-wrap {
	white-space: pre-wrap;
}

$el-font-sizes: (12, 13, 14, 16, 18, 20);
@for $index from 1 to 6 {
	.text-size-#{nth($el-font-sizes, $index)} {
		font-size: #{nth($el-font-sizes, $index)}px !important;
	}
}

.font-main-title {
	font-size: 20px !important;
	line-height: 1.7 !important;
	color: $color-text-main !important;
	font-weight: bolder;
}
.font-title {
	font-size: 18px !important;
	line-height: 1.5 !important;
	color: $color-text-main !important;
	font-weight: bold;
}
.font-small-title {
	font-size: 16px !important;
	line-height: 1.3 !important;
	color: $color-text-main !important;
	font-weight: bold;
}
.font-body {
	font-size: 14px !important;
	line-height: 1 !important;
	color: $color-text-normal !important;
}
.font-sup {
	font-size: 12px !important;
	color: $color-text-sub !important;
}

// line-height
$el-line-height: (1, 1.3, 1.5, 1.7, 2);
@for $index from 1 to 5 {
	.line-helight-#{$index} {
		line-height: #{nth($el-line-height, $index)}px !important;
	}
}

// background
.no-bg {
	background: transparent !important;
}
.no-border {
	border: none !important;
}

// board-shadow
.box-shadow {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !important;
}

.shallow-box-shadow {
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%) !important;
}

.no-box-shadow {
	box-shadow: initial !important;
}

// board-radius
$el-board-radius-sizes: (0, 2, 4, 8, 16, 30);
@for $index from 1 to 6 {
	.border-radius-#{nth($el-board-radius-sizes, $index)} {
		border-radius: #{nth($el-board-radius-sizes, $index)}px !important;
	}
}

// card like border
.border-card-like {
	@extend %card;
}

// flex
.flex-center-row {
	@extend %flex-row;
	justify-content: center;
	align-items: center;
}
.flex-between-row {
	@extend %flex-row;
	align-items: center;
	justify-content: space-between;
}
.flex-around-row {
	@extend %flex-row;
	align-items: center;
	justify-content: space-around;
}

.flex-end-row {
	@extend %flex-row;
	justify-content: flex-end;
	align-items: center;
}

.flex-wrap-row {
	@extend %flex-row;
	flex-wrap: wrap;
}

.flex-center-col {
	@extend %flex-col;
	justify-content: center;
	align-items: center;
}

.flex-between-col {
	@extend %flex-col;
	align-items: center;
	justify-content: space-between;
}

// form-group
.form-group {
	// .el-form {
	// 	padding: 24px;
	// }
	.el-form-item {
		padding: 8px;
		.el-form-item__content > [class*="el-input"] {
			width: 200px;
		}
		.el-form-item__label {
			font-weight: bold;
		}
	}
}
.form-box {
	> .el-row {
		margin: 0 8px 32px;
	}
	> p {
		color: $color-text-normal !important;
		white-space: break-spaces;
	}
}

// data-table
.data-table {
	width: 100%;
	.el-table__body-wrapper {
		// overflow-y: auto;
		@include scrollBar();
	}
}
.data-table-expand {
	font-size: 0;
	label {
		width: 20%;
		color: #99a9bf;
		font-size: 16px;
		font-weight: bold;
	}
	.el-form-item {
		margin-right: 0;
		margin-bottom: 0;
		width: 100%;
	}
}
.data-date-picker input {
	border: none !important;
}

// scroll
.d2-container-full {
	.d2-container-full__body {
		@include scrollBar();
	}
}

// tab scroll
.tab-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	&.el-tabs--border-card {
		background-color: transparent;
	}
	.el-tabs__content {
		overflow-y: auto;
		@include scrollBar();
	}
	.el-tabs__header {
		border-radius: 5px;
	}
	.el-tabs__active-bar.is-bottom {
		transform: translateX(5px);
	}
	.el-tabs__content {
		height: 100%;
		width: 100%;
		overflow-y: auto;
	}
}

// full el container
.el-container.full-container {
	height: 100%;
	padding: initial;
	main {
		height: 100%;
		padding: initial;
	}
	footer {
		line-height: 60px;
	}
}
