$element-size: calc((75vw - ((0.23vw * 36) + 1vw)) / 18);
$non-matel: #4bc42f;
$non-metal-dark: #03a9f4;
$alkal-metal: #e8593d;
$alkal-metal-dark: #f44336;
$alkaline-metal: #f2a000;
$alkaline-metal-dark: #ff9800;
$transition-metal: #f2c201;
$transition-metal-dark: #efbb31;
$metaloid: #bbc42f;
$metal-dark: #673ab7;
$metal: #31bba0;
$metaloid-dark: #19caa7;
$halojen: #22b6e0;
$halojen-dark: #f06292;
$soygaz: #2089ff;
$soygaz-dark: #00bcd4;
$lantanit: #d887d9;
$lantanit-dark: #8bc34a;
$actinide: #b186d9;
$actinide-dark: #cddc39;